@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-black: #000;
    --primary-grey: grey;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}

body {
    font-family: "Roboto Condensed";
}

/**************************** NAVBAR ***************************************/
nav{
    z-index: 2;
}
nav a.nav-link {

    cursor: pointer !important;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-left: 2.75rem;
    margin-right: 0.75rem;
    color: var(--primary-black) !important;
    border-top: 3px solid var(--primary-dark) !important;
}
.navbar-brand{
    padding: 0 !important
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-bottom: 3px solid var(--primary-grey);
    transition: 0.3s;
    transform: scale(1.3);
    padding: 0px 100px 0px 100px;

}

.navbar-nav > li > a:hover {
    border-bottom: 3px solid var(--primary-grey);
}

.page-logo{
    height: 30px;
    width: 30px;
}

/**************************** HEADER ***************************************/

.header-wrapper {
    position: relative;
    background-image: url(./images/background-header.jpg)!important;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}


/**************************** TYPED_TEXT  ***************************************/
.header-wrapper {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-wrapper h1 {
    font-size: 2.75rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.header-wrapper span {
    font-size: 1.75rem;
    color: white;
}

/**************************** HEADER MAIN BUTTON  ***************************************/
.btn-main-offer{
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 12px 12px 12px;
    color: white;
    margin-top: 2rem;
    z-index: 2;
    cursor:pointer
}

/**************************** PARTICLES  ***************************************/
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}