@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-black: #000;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-grey: #a09c9c;
}

body {
    font-family: "Roboto Condensed";
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}   

section {
    scroll-snap-align: start;
}


/**************************** NAVBAR ***************************************/
nav{
    z-index: 2;
    border-bottom: 1px solid white;
    /* position: fixed !important;
    top: 0 !important;
    width: 100% !important; */
}
nav a.nav-link {

    cursor: pointer !important;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-left: 2.75rem;
    margin-right: 0.75rem;
    color: white !important;
    border-bottom: 2px solid rgb(33, 33, 33);
    align-self: flex-end !important;
}

@media(max-width: 450px){
    .navbar-nav > li > a {
        margin-left: 0rem !important;
    }
}
.navbar-brand{
    padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-bottom: 2px solid var(--primary-orange) !important;
    transition: 0.3s;
    transform: scale(1.3) !important;
    padding: 0px 10px 0px 10px !important;

}

.navbar-nav > li > a:hover {
    border-bottom: 2px solid var(--primary-orange);
}

.page-logo{
    height: 30px;
    width: 30px;
}

.navbar {
    position: sticky !important;
}

/**************************** HEADER ***************************************/

.header-wrapper {
    position: relative;
    background-image: url(./images/background-header.jpg)!important;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}


/**************************** TYPED_TEXT  ***************************************/
.header-wrapper {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-wrapper h1 {
    font-size: 2.75rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.header-wrapper span {
    font-size: 1.75rem;
    color: white;
}

/**************************** HEADER MAIN BUTTON  ***************************************/
.btn-main-offer{
    border: 1px solid var(--primary-orange);
    text-transform: uppercase;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    color: white;
    margin-top: 2rem;
    z-index: 2;
    cursor:pointer;
    font-size: 0.9rem;
    text-decoration: none;
}

.btn-main-offer:hover{
    font-weight:900;
    color: var(--primary-orange);
    background-color: white;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
}

/**************************** PARTICLES  ***************************************/
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/**************************** ICONS  ***************************************/
/* .icon-wrapper{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    padding: 0.7rem;
    overflow: hidden;
}

.item-1{
    background: url(./images/js.svg) no;
} */

/**************************** ABOUT ***************************************/
.about-body{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

 h1 {
    color: var(--primary-orange) !important;
}

p {
    color: white;
}

/**************************** PORTFOLIO ***************************************/
.portfolio-body{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.card {
    border: 2px solid var(--primary-orange) !important;
}

p.card-text {
    color: var(--primary-black) !important;
}

/**************************** EXPERIENCE ***************************************/
.experience-body{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/**************************** CONTACT ***************************************/

.contact-body{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.form-container{
    display: flex;

}

.form-boundary{
    border-left: 2px solid var(--primary-orange);
    flex-direction: column;
}

input, textarea {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    margin-left: 45px;
}

h2{
    color: white;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 45px;
}

@media(max-width: 994px){
    input, textarea {
        width: 80vw !important;
        margin-left: 20px;
    }        

    h2{
        margin-left: 20px !important;
    }

}



@media(max-width: 450px){
    input, textarea {
        width: 70vw !important;
        margin-left: 15px;
    }
    h2{
        margin-left: 15px;
    }
}

.form-btn{
    border: 1px solid var(--primary-orange);
    text-transform: uppercase;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-top: 1.2rem;
    cursor:pointer;
    font-size: 0.9rem;
    text-decoration: none;
    background:none;
}

.form-btn:hover{
    font-weight:900;
    color: var(--primary-orange);
    background-color: white;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
}

.form-msg{
    color: white;
    margin-top: 5px !important;
}

svg.icon-1, svg.icon-2, svg.icon-3{
    padding: 5px 10px 5px 10px;

}

svg.icon-1{
    margin-top: 75px;
}

svg.icon-1:hover, svg.icon-2:hover, svg.icon-3:hover{
    transition: 0.9s;
    transform: rotateY(360deg);
}

.icon-boundary{
    margin-right: 5px;
}
/* 
image.icon{
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-1{
    padding: 5px;
}

.icon-2{
    padding: 5px;
} */



